<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
<!-- BOOTSTRAP LINKS   -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<div>
<!--************************************** NAVBAR **********************************************************************************-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Contact Us</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
    </nav>
<!--******************************************* DISPLAY **************************************************************************-->
        <div class="container my-3 text-center">
            <h1 class="text-center">
                WELCOME TO THE TEXT ANALYZER.<br>
                    ENTER YOUR TEXT BELOW!!.
            </h1>
            <form action='/analyze' method='post'  >{% csrf_token %}
                <div class="form-group container">
                    <label for="exampleFormControlTextarea1">ENTER TEXT</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="7"></textarea>
                </div>

                <div class="form-check container text-center">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="removepunc">REMOVE PUNC
                     </label>
                </div>
                <div class="form-check container text-center">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="fullcaps">CAPITALIZE
                     </label>
                </div>
                <div class="form-check container text-center">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="newlineremover">NEW LINE REMOVER
                     </label>
                </div>
                <div class="form-check container text-center">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="spaceremover">EXTRA SPACE REMOVER
                     </label>
                </div>
                <div class="form-check container text-center">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="charcount">CHARACTER COUNT
                     </label>
                </div>


                <button type="submit" class="btn btn-primary mb-2 ">ANALYZE TEXT</button>
            </form>
        </div>
</body>
</html>